.DS_Store
public
resources
.idea
content/20-Diary/
content/20-Diary
content/.obsidian
.obsidian
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap
88-Template
.obsidian
content/30-Reading/
/content/30-Reading
content/20-Diary/.obsidian
content/BT_Example
content/BT_Example/

